[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.dotnet2005.git
[submodule "Jusolink"]
	path = Jusolink
	url = https://github.com/linkhub-sdk/jusolink.dotnet2005.git
